        <block hash="${hash}">
            <index>${index}</index>
            <timestamp>${timestamp}</timestamp>
            <nonce>${nonce}</nonce>
            <previousBlockHash>${previousBlockHash}</previousBlockHash>
            <merkleRoot>${merkleRoot}</merkleRoot>
            <transactions>
#foreach($tx in $transactions)
${tx.toXML()}
#end
            </transactions>
        </block>