                        <input>
                            <prevOutputPointer>
                                <transactionHash>${prevTransactionHash}</transactionHash>
                                <outputIndex>${outputIndex}</outputIndex>
                            </prevOutputPointer>
                            <signature>${signature}</signature>
                        </input>